{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}about{{/replace}}

  {{#replace "main"}}

    <section id="services">
      <div>
        <h2>Services</h2>
        <img src="">
        <img src="">
      </div>
    </section>

    <section id="design">
      <div>
        <h2>Graphic design</h2>
        <img src="">
        <ul>
          <h4>Branding</h4>
          <img src="">
          <li>Logo</li>
          <li>Style Guide</li>
          <li>Advertising</li>
        </ul>
        <ul>
          <h4>Digital</h4>
          <img src="">
          <li>UI/UX Design</li>
          <li>App Design</li>
          <li>Social Media</li>
        </ul>
        <ul>
          <h4>Print</h4>
          <img src="">
          <li>Stationary</li>
          <li>Brochures</li>
          <li>Packaging</li>
          <li>Signage</li>
        </ul>
      </div>
    </section>

    <section id="websites">
      <div>
        <img src="">
        <h2>Websites</h2>
        <img src="">
        <div>
          <ul>
            <h4>Custom Built</h4>
            <img src="">
            <li>Custom Design</li>
            <li>Development</li>
            <li>Mobile First</li>
            <li>Animation</li>
            <li>Lighting Page Loads</li>
            <li>Hosting</li>
            <li>SEO Optimisation</li>
          </ul>
          <ul>
            <h4>Squarespace</h4>
            <img src="">
            <li>Design</li>
            <li>Development</li>
            <li>Client Access</li>
            <li>Blog Scheduling</li>
            <li>MailChimp</li>
            <li>E-Commerce</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="illustration">
      <div>
        <img src="">
        <h2>Illustration</h2>
        <img src="">
        <h3>Branding with an artistic flair</h3>
        <img src="">
        <ul>
          <li>Infographics</li>
          <li>Book illustration</li>
          <li>Decorative</li>
          <li>Packaging</li>
        </ul>
      </div>
    </section>

    <section id="contact">
      <div>
        <h2>Contact</h2>
      </div>
    </section>

    <section id="instagram">
      <div>
        <h2>Instagram Stories</h2>
        <a href="#">Follow</a>
        <div id="instafeed"></div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
