{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}services{{/replace}}

  {{#replace "main"}}

  {{/replace}}
{{/extend}}
